<div class="error-bubble-background">
    <div class="error-bubble" role="alert">
        <div class="error-bubble-header">
            <span class="error-bubble-title">
                <i class="bi bi-cone-striped error-bubble-icon"></i>
                Error!
            </span>
            <button class="error-bubble-button">
                <i class="bi bi-x"></i>
            </button>
        </div>
        <div class="error-bubble-body">
            <ul>
                {{#errors}}
                <li>{{.}}</li>
                {{/errors}}
            </span>
        </div>
    </div>
</div>