{{#error}}
<div class="error-bubble" role="alert">
    <div class="error-bubble-header">
        <span class="error-bubble-title">
            <i class="bi bi-cone-striped error-bubble-icon"></i>
            Error!
        </span>
        <a  class="error-bubble-button" href="/quit-errorMsg" type="button" aria-label="Close">
            <i class="bi bi-x"></i>
        </a>
    </div>
    <div class="error-bubble-body">
        <ul>
            {{#errors}}
            <li>{{.}}</li>
            {{/errors}}
        </span>
    </div>
</div>
{{/error}}