<div class="filter--div" id="filter--div" role="modal">
    <heading class="filter--title">
        <span>Filter your search</span>
    </heading>
    <form id="filter--form" class="filter--list" role="listbox">
        <div class="filter--item" role="listitem">
            <div class="item--icon">
                <i class="bi bi-sort-down"></i>
                <span class="filter--name">Size</span>
            </div>
            <div class="filter--content">
                <div class="checkbox--container">
                    {{#sizes}}
                    <input type="checkbox" id="size--{{size}}" name="size" value="{{size}}" />
                    <label for="size--{{size}}">{{size}}</label>
                    {{/sizes}}
                </div>
            </div>
        </div>
        <div class="filter--item" role="listitem">
            <div class="item--icon">
                <i class="bi bi-tag"></i>
                <span class="filter--name">Category</span>
            </div>
            <div class="filter--content">
                <div class="default--container">
                    <select name="type" id="type--selector">
                        <option value="" disabled selected >None</option>
                        {{#types}}
                        <option value="{{type}}">{{type}}</option>
                        {{/types}}
                    </select>
                </div>
            </div>
        </div>
        <div class="filter--item" role="listitem">
            <div class="item--icon">
                <i class="bi bi-currency-dollar"></i>
                <span class="filter--name">Price</span>
            </div>
            <div class="filter--content">
                <!-- min and max price -->
                <div class="default--container interval--container">
                    <span>Min</span><input type="number">
                    <span>Max</span><input type="number">
                </div>
            </div>
        </div>
        <div class="filter--item">
            <button id="clear-filters--button" class="filter-item--button">Reset filters</button>
            <button id="filter--button" class="filter-item--button">Filter</button>
        </div>
    </form>
</div>