<a href="/detailed/{{id}}" class="item--link product" role="listitem">
  <div class="item">
    <div class="item--images">
      <img src="{{image}}" alt="{{type}}" class="item--image-front" />
    </div>
    <div class="item--content">
      <p role="button">
        {{name}}
      </p>
      <div class="list--view list--type">
        <kbd>{{type}}</kbd>
      </div>
      <div class="list--view list--size">
        {{size}}
      </div>
      <div class="div--bids">
        <span class="number--of--bids">
          <span class="bid--number">{{bids.length}}</span>
        </span>
      </div>
      <div class="item--price">
        <strong>{{price}}€</strong>
      </div>
    </div>
    <div class="item--loading hidden">
      <img src="/assets/icon.svg" class="img-fluid rounded-top logo-small" alt="" />
    </div>
  </div>
</a>