<a href="/detailed/{{id}}" class="item--link" role="listitem">
  <div class="item">
    <div class="item--images">
      <img src="{{image}}" alt="{{type}}" class="item--image-front" />
    </div>
    <div class="item--content"> 
      {{#bids.length}}
      <span class="number--of--bids">
        <span class="bid--number">+{{bids.length}}</span>
        <img src="../assets/test.svg" alt="cookie bg">
        </span>
      {{/bids.length}}
      
      <p role="button">
        {{name}}
      </p>
      <div class="item--price">
        <strong>{{price}}€</strong>
      </div>
    </div>
  </div>
</a>
