<nav class="navbar mb-3">
    <a class="navbar-brand" href="/" role="button img">
        <img src="/assets/full-icon.svg" class="img-fluid rounded-top logo" alt="" />
        <img src="/assets/icon.svg" class="img-fluid rounded-top logo-small" alt="" />
    </a>
    <div class="d-flex gap-2 align-items-center">
        <div class="navbar-nav">
            <!----------------------------------------------------------------------------- Heart --->
            <label class="nav-link icon--liked" for="toggle--liked">
                <i class="fs-4 bi bi-heart-fill" role="button"></i>
                <span class="favs--bubble">{{favs.length}}</span>
            </label>
            <input type="checkbox" id="toggle--liked"/>
            <div class="div--liked" id="div--liked" role="modal">
                <heading class="liked--title"><span>Liked products</span><label for="toggle--liked" class="close"
                        role="button">Close</label></heading>
                <div class="liked--list" role="listbox">
                    {{> components/navItemsContainer}}
                </div>
                <div class="checkout">
                    <button id="clear-favs--list">Clear List (0)</button>
                </div>
            </div>
            <!----------------------------------------------------------------------------- Person -->
            <a class="nav-link" href="#"><i class="fs-4 bi bi-person-circle"></i></a>
            <!----------------------------------------------------------------------------- Search -->
            <label class="nav-link icon--search" for="toggle--search"><i class="bi bi-search"></i></label>
            <input type="checkbox" id="toggle--search" />
            <label class="div--search" id="div--search" for="toggle--search" role="modal">
                <search>
                    <div class="search--group">
                        <input id="search--input" placeholder="Oversized Fit hoodie black..." autofocus/>
                        <button id="search--button" class="icon--backspace-search"><i class="bi bi-backspace-fill"></i></button>
                    </div>
                    <div class="div--search-results"></div>
                </search>
            </label>
        </div>
    </div>
</nav>