
<!-- Button trigger modal -->
<button type="button" class="button--detailed delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Delete
</button>

<button type="button" class="button--detailed delete stretched-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <i class="bi bi-trash3-fill"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <i class="bi bi-exclamation-triangle-fill"></i> Alert
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{name}}?
      </div>
      <div class="modal-footer">
        <a class="button--detailed close" data-bs-dismiss="modal">Close</a>
        <a class="button--detailed delete" href="/delete/{{id}}">Delete</a>
      </div>
    </div>
  </div>
</div>