<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>8 Ball | Product Page</title>
        <link rel="icon" href="../assets/icon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="../styles/global.css" />
    </head>

    <body>
        <!----------------------------------------------------------------------------------------------------------------------------- nav -->
        {{> components/nav}}
        <!----------------------------------------------------------------------------------------------------------------------------- body -->
        <div class="back-to-menu-container">
            <div class="back-to-menu-button">
                <a class="back-to-menu" href="/"><i class="bi bi-arrow-left"></i></a>
            </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------------- product zone -->
        <div class="wrapper">
            <div class="fullview">
                <div class="product-name stretched">
                    <h1 class="text-center">{{name}}</h1>
                </div>
                <div class="itempic">
                    <img src={{image}} class="imgdirect" alt="Item Img" />
                </div>
                <div class="product-info-container">
                    <div class="product-name wide">
                        <h1 class="text-center">{{name}}</h1>
                    </div>
                    <div class="item-description">
                        <p>{{description}}</p>
                    </div>
                    <div class="item-tags">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Size</td>
                                    <td>{{size}}</td>
                                </tr>
                                <tr>
                                    <td>Initial bid</td>
                                    <td>{{price}}€</td>
                                </tr>
                                <tr>
                                    <td>Finished by</td>
                                    <td>{{finishingDate}}</td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td><kbd>{{type}}</kbd></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item-buttons">
                        <!-- Wide Buttons -->
                        <input type="checkbox" id="favorite-checkbox"/>
                        <label class="button--detailed" for="favorite-checkbox"><i class="bi bi-heart-fill"></i></label>
                        <button class="button--detailed edit">Edit</button>
                        <button class="button--detailed delete">Delete</button>
                        <!-- Stretched Buttons -->
                        <button class="button--detailed edit stretched-button"><i
                                class="bi bi-pencil-fill"></i></button>
                        <button class="button--detailed delete stretched-button"><i
                                class="bi bi-trash3-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------------------------------------------------------- bid zone -->
        <div class="main-container" id="bidzone">
            <div class="title">
                <span class="bi-wide">Bid Zone!</span>
                <span class="bi-stretched">Bid!</span>
                <hr />
            </div>
            <div class="comment-zone">
                <div class="comment-background">
                    <div class="comment-card">
                        <div class="img-card">
                            <img class="img-fluid" src="/assets/Gravatars/avatar1.png" alt="user-img" />
                        </div>
                        <div class="user-info">
                            <span class="bid-info">RandomUser45</span>
                            <span class="bid-info">Raises the bid to <strong>99€</strong></span>
                        </div>
                        <div class="date">14/11/23 at 15:00</div>
                        <div class="buttons">
                            <button class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                            <button class="btn btn-success">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </div>
                    </div>
                    <div class="comment-card">
                        <div class="img-card">
                            <img class="img-fluid" src="/assets/Gravatars/avatar2.png" alt="user-img" />
                        </div>
                        <div class="user-info">
                            <span class="bid-info">EverydayJane</span>
                            <span class="bid-info">95€</span>
                        </div>
                        <div class="date">14/11/23 at 12:05</div>
                    </div>
                    <div class="comment-card">
                        <div class="img-card">
                            <img class="img-fluid" src="/assets/Gravatars/avatar3.png" alt="user-img" />
                        </div>
                        <div class="user-info">
                            <span class="bid-info">SimpleSimon</span>
                            <span class="bid-info">70€</span>
                        </div>
                        <div class="date">13/11/23 at 00:10</div>
                    </div>
                    <div class="comment-card">
                        <div class="img-card">
                            <img class="img-fluid" src="/assets/Gravatars/avatar4.png" alt="user-img" />
                        </div>
                        <div class="user-info">
                            <span class="bid-info">CommonFolk23</span>
                            <span class="bid-info">45€</span>
                        </div>
                        <div class="date">12/11/23 at 22:30</div>
                    </div>
                    <div class="comment-card">
                        <div class="img-card">
                            <img class="img-fluid" src="/assets/Gravatars/avatar5.png" alt="user-img" />
                        </div>
                        <div class="user-info">
                            <span class="bid-info">JoeAverage76</span>
                            <span class="bid-info">Sees the initial 30€</span>
                        </div>
                        <div class="date">11/11/23 at 10:00</div>
                    </div>
                </div>
            </div>
            <form class="form-container" method="post" action="/add-bid/{{id}}">
                <div class="input-container">
                    <div class="input-group">
                        <span class="input-group-text" id="username">
                            <span class="text-label">Username</span>
                            <i class="bi bi-person bi-stretched"></i>
                        </span>
                        <input type="text" name="username" class="form-control" required placeholder="Username" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="user mail">
                            <span class="text-label">e-mail</span>
                            <i class="bi bi-envelope bi-stretched"></i>
                        </span>
                        <input type="email" name="email" class="form-control" required placeholder="examplemail@mail.com" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="price">
                            <span class="text-label">Bid</span>
                            <i class="bi bi-coin bi-stretched"></i>
                        </span>
                        <input type="number" name="bid" min="0" class="form-control" required placeholder="Place your bid" />
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-success btn-form">BID</button>
                </div>
            </form>
        </div>
        <!-----------------------------------------------------------------------------------------------------------------------------------footer-->
        {{> components/footer}}
        <!-- BOOTSTRAP SCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </body>

</html>