<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>8 Ball | {{name}}</title>
        <link rel="icon" href="/assets/icon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="stylesheet" href="/styles/detailed.css" />
        <link rel="stylesheet" href="/styles/subpage.css" />

    </head>

    <body>
        <!----------------------------------------------------------------------------------------------------------------------------- nav -->
        {{> components/nav}}
        <!----------------------------------------------------------------------------------------------------------------------------- body -->
       
        
        <div class="back-to-menu-container">
            <div class="back-to-menu-button">
                <a class="back-to-menu" href="/"><i class="bi bi-arrow-left"></i></a>
            </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------------- product zone -->
        <div class="wrapper">
            <div class="fullview">
                <div class="product-name stretched">
                    <h1 class="text-center">{{name}}</h1>
                </div>
                <div class="itempic">
                    <img src={{image}} class="imgdirect" alt="Item Img" />
                </div>
                <div class="product-info-container">
                    <div class="product-name wide">
                        <h1 class="text-center">{{name}}</h1>
                    </div>
                    <div class="item-description">
                        <p>{{description}}</p>
                    </div>
                    <div class="item-tags">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Size</td>
                                    <td>{{size}}</td>
                                </tr>
                                <tr>
                                    <td>Initial bid</td>
                                    <td>{{price}}€</td>
                                </tr>
                                <tr>
                                    <td>Finished by</td>
                                    <td>{{finishingDate}}</td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td><kbd>{{type}}</kbd></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item-buttons">
                        {{#isFav}}
                        <input type="checkbox" id="favorite-checkbox" checked/>
                        {{/isFav}}
                        {{^isFav}}
                        <input type="checkbox" id="favorite-checkbox"/>
                        {{/isFav}}

                        <label class="button--detailed" for="favorite-checkbox"><i class="bi bi-heart-fill"></i></label>
                        <a class="button--detailed edit" href="/edit/{{id}}">Edit</a>
                        <a class="button--detailed stretched-button edit" href="/edit/{{id}}"><i class="bi bi-pencil-fill"></i></a>
                        <a>{{> components/popUp }}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------------------------------------------------------- bid zone -->
        <div class="main-container" id="bidzone">
            <div class="title">
                <span class="bi-wide">Bid Zone!</span>
                <span class="bi-stretched">Bid!</span>
                <hr />
            </div>
            <div class="comment-zone">
                <div class="comment-background">
                </div>
            </div>
            <form class="form-container" method="post" action="/add-bid/{{id}}">
                <div class="input-container">
                    <div class="input-group">
                        <span class="input-group-text" id="username">
                            <span class="text-label">Name</span>
                            <i class="bi bi-person bi-stretched"></i>
                        </span>
                        <input type="text" name="name" class="form-control" required placeholder="Name" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="user mail">
                            <span class="text-label">e-mail</span>
                            <i class="bi bi-envelope bi-stretched"></i>
                        </span>
                        <input type="email" name="email" class="form-control" required
                            placeholder="examplemail@mail.com" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="price">
                            <span class="text-label">Bid</span>
                            <i class="bi bi-coin bi-stretched"></i>
                        </span>
                        <input type="number" name="bid" step="0.01" min="0" class="form-control" required
                            placeholder="Place your bid" />
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" id="bid--button" class="btn btn-success btn-form">BID</button>
                </div>
            </form>
        </div>
        <!-----------------------------------------------------------------------------------------------------------------------------------footer-->
        {{#error}}
        {{> components/errorToast}}
        {{/error}}
        {{> components/footer}}

        <!-- Scripts -->
        <script src="/scripts/detailed.js" type="module"></script>
        <script src="/scripts/nav.js" type="module"></script>
        <!-- BOOTSTRAP SCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" type="module"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </body>
</html>