<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>8 Ball</title>
        <link rel="icon" href="assets/icon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="stylesheet" href="/styles/landing.css" />
    </head>

    <body>
        <!------------------------------------------------------------------------------------------------------------------------------------------------------- NAV -->
        {{> components/nav}}
        <main>
            <!------------------------------------------------------------------------------------------------------------------------------------------------ FEATURED -->
            <section>
                <heading>
                    <h2 class="section--title">FEATURED ITEMS</h2>
                </heading>
                <div class="featured" role="listbox">
                    {{# featuredItems}}
                    {{> components/item}}
                    {{/ featuredItems}}
                </div>
            </section>
            <!------------------------------------------------------------------------------------------------------------------------------------------------------------------ LATEST SALES -->
            <section>
                <heading>
                    <h2 class="section--title">LATEST SALES</h2>
                </heading>
                <div class="items--wrap">
                    {{# dataValues}}
                    {{> components/item}}
                    {{/ dataValues}}
                    <!-- New item btn -->
                    <a href="/publish" class="item--link">
                        <div class="add--item">
                            <span><i class="bi bi-plus"></i></span>
                        </div>
                    </a>
                </div>
            </section>
        </main>
        <!------------------------------------------------------------------------------------------------------------------------------------------------------------ FOOTER -->
        {{> components/footer}}
        <!-- BOOTSTRAP SCRIPT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </body>

</html>