<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>8 Ball | Publish New Element</title>
        <link rel="icon" href="/assets/icon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="stylesheet" href="/styles/subpage.css" />
    </head>

    <body>
        <!---------------------------------------------------------------------------------------------------------- Nav -->
        {{> components/nav}}
        <!--------------------------------------------------------------------------------------------------------- Main -->
        <div class="main-container">
            <header class="title">
                <span class="bi-wide">
                    {{pageTitle}}
                </span>
                <span class="bi-stretched">
                    {{pageLittleTitle}}
                </span>
                <hr />
            </header>
            <form class="form-container" method="post" action={{postRoute}}>
                <div class="input-container">
                    <div class="input-group">
                        <span class="input-group-text" id="name">
                            <span class="text-label">Name</span>
                            <i class="bi bi-hash bi-stretched"></i>
                        </span>
                        <input type="text" name="name" value="{{name}}" class="form-control" placeholder="Selling Name">
                        <span class="invalid-feedback">
                            <span class="feedback-msg"></span>
                        </span>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="description">
                            <span class="text-label">Description</span>
                            <i class="bi bi-card-text bi-stretched"></i>
                        </span>
                        <input type="text" name="description" value="{{description}}" class="form-control" placeholder="Small Description" />
                            <span class="invalid-feedback">
                                <span class="feedback-msg"></span>
                            </span>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="price">
                            <span class="text-label">Price</span>
                            <i class="bi bi-currency-dollar bi-stretched"></i>
                        </span>
                        <input type="number" step="0.01" name="price" value="{{price}}" class="form-control" placeholder="Initial bid" min="0"/>
                            <span class="invalid-feedback">
                                <span class="feedback-msg"></span>
                            </span>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="image">
                            <span class="text-label">Image</span>
                            <i class="bi bi-image bi-stretched"></i>
                        </span>
                        <input type="text" name="image" value="{{image}}" class="form-control" placeholder="https://exampleurl..."/>
                            <span class="invalid-feedback">
                                <span class="feedback-msg"></span>
                            </span>
                    </div>

                    <div class="input-group">
                        <span class="input-group-text" id="garment-type">
                            <span class="text-label">Type</span>
                            <i class="bi bi-tag bi-stretched"></i>
                        </span>
                        <select class="form-control" name="type" id="garment-type">
                            {{#types}}
                            <option value="{{type}}" {{selected}}>{{type}}</option>
                            {{/types}}
                        </select>
                    </div>

                    <div class="size-selector input-group">
                        <span class="input-group-text" id="size">
                            <span class="text-label">Size</span>
                            <i class="bi bi-sort-down bi-stretched"></i>
                        </span>
                        <select class="form-control" name="size" id="size">
                            {{#sizes}}
                            <option value="{{size}}" {{selected}}>{{size}}</option>
                            {{/sizes}}
                        </select>
                    </div>

                    <div class="input-group date-input-container">
                        <span class="input-group-text" id="ending-date">
                            <span class="text-label">Ending</span>
                            <i class="bi bi-calendar-check bi-stretched"></i>
                        </span>
                        <input type="date" name="finishingDate" value="{{finishingDate}}" class="date-input" min="{{today}}" id="finishing-date"/>
                    </div>
                </div>

                <div class="terms-container">
                    <div class="checkbox-wrapper-5">
                        <div class="check"> <input id="terms-checkbox" type="checkbox"/>
                            <label for="terms-checkbox"></label>
                        </div>
                    </div>
                    <label class="terms-label" for="terms-checkbox">I agree the <a href="/legal" target="_blank">Terms and
                            Conditions</a></label>
                </div>

                <div class="buttons">
                    <a href="{{cancelRoute}}" class="btn btn-danger btn-form">Cancel</a>
                    <button type="submit" class="btn btn-success btn-form">{{pageLittleTitle}}</button>
                </div>
            </form>
        </div>
        <!----------------------------------------------------------------------------------------------------- Footer -->
        {{> components/footer}}

        <script src="/scripts/publish.js"></script>
        <script src="/scripts/search.js"></script>
    </body>

</html>