<a href="/detailed" class="item--link" role="listitem">
    <div class="item">
        <div class="item--images"><img src="/assets/clothes/hoodie4.png" alt="hoodie" class="item--image-front" /></div>
        <div class="item--content">
            <p role="button">Hoodie Zara</p>
            <div class="item--price">
                <strong>29.99€</strong>
                <span class="sale">25%</span>
                <span class="price--old">40.00€</span>
            </div>
        </div>
    </div>
</a>