<footer>
    <div class="footer--column">
        <span class="footer--link"><div class="footer--item--title">Legal</div></span>
        <a href="#" class="footer--link"><div class="footer--item">Advisory</div></a>
        <a href="/legal" target="_blank" class="footer--link"><div class="footer--item">Terms and conditions</div></a>
        <a href="#" class="footer--link"><div class="footer--item">Personal data management</div></a>
        <a href="#" class="footer--link"><div class="footer--item">Customer service</div></a>
        <a href="#" class="footer--link"><div class="footer--item">Refunds</div></a>
    </div>
    <div class="footer--column">
        <span href="#" class="footer--link"><div class="footer--item--title">Social</div></span>
        <a href="#" class="footer--link"><div class="footer--item">Instagram</div></a>
        <a href="#" class="footer--link"><div class="footer--item">Twitter</div></a>
        <a href="#" class="footer--link"><div class="footer--item">Facebook</div></a>
        <a href="#" class="footer--link"><div class="footer--item">EMail</div></a>
    </div>
    <div class="footer--column">
        <small class="footer--brand">© 2023 <i>The 8 Ball Brand</i> Inc. All rights reserved</small>
    </div>
    <div class="footer--column"></div>
</footer>