<nav class="navbar mb-3">
    <a class="navbar-brand" href="/">
        <img src="./assets/full-icon.svg" class="img-fluid rounded-top logo" alt="" /> <!-- EDIT THIS PATH -->
        <img src="./assets/icon.svg" class="img-fluid rounded-top logo-small" alt="" /> <!-- EDIT THIS PATH -->
    </a>
    <div class="d-flex gap-2 align-items-center">
        <div class="navbar-nav">
            <a class="nav-link icon-search" href="#"><i class="fs-4 bi bi-search"></i></a>
            <a class="nav-link" href="#"><i class="fs-4 bi bi-cart2"></i></a>
            <a class="nav-link" href="#"><i class="fs-4 bi bi-person-circle"></i></a>
        </div>
        <form>
            <div class="input-group">
                <input type="text" class="nav-search-bar" id="search-input" placeholder="Search" />
                <div class="input-group-text"><i class="bi bi-search text-secondary"></i></div>
            </div>
        </form>
    </div>
</nav>