$themePrimary: black;
$themePrimaryAlpha: #6b6b6bbb;
$notification: #e00;
$white: #eee;
$black: #000;
$heartColor: #ff006a;
$heartColorHover: #ff006a80;
$heartColorBackground: #ff006a12;

// Landing -----------------------------------------------------------------------------------
$title: #eee;
$titleLine: #fff4;
$featuredScrollBar: #dfdfdf;
$featuredScrollBarHover: #c7c7c7;
$featuredScrollBarBg: #f0f0f0;

/// Items
$cardBackground: #fff;
$cardColor: #000;
$cardPriceOld: #0004;

// NAV ---------------------------------------------------------------------------------------
$navBg: #eee;
$navIcons: #666;

/// liked
$likedBg: #eee;
$likedItemColor: #444;
$likedItemHover: #e0e0e0;
$likedItemPriceColor: #aaa;
$likedItemArrowColor: #e0e0e0;

// Search
$searchBackground: #eee;

// SUBPAGE ----------------------------------------------------------------------------------
$fontColor: #4c4c4c;
$inputColor: #666;
$inputBarColor: #c8c8c8;
$dateColor: #a4a4a4;

$imageBgColor: #c8c8c842;
$imageBorderColor: #00000026;

$secondaryBackgroundColor: #0000001a;

/// BUTTONS
$successColor: #1c7b1c;
$successColorBackground: #1c7b1c1a;
$dangerColor: #a61313;
$dangerColorBackground: #a613131a;
$warningColor: #a9842c;
$warningColorBackground: #a67a131a;
$disabledColor: #ffffff3c;

/// TAGS
$tagDateColor: #202a35;
$tagSizeColor: #6a90a8;
$tagTypeColor: #43596a;
