.back-to-menu-container {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-to-menu-container .back-to-menu-button {
  width: 70%;
  height: 100%;
}
.back-to-menu-container .back-to-menu-button .back-to-menu {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #eee;
  color: #000;
  transition: 0.3s;
}
.back-to-menu-container .back-to-menu-button .back-to-menu:hover {
  background: #000;
  color: #eee;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.wrapper .product-name.stretched {
  display: none;
}
.wrapper .fullview {
  width: 70%;
  padding: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  background-color: #eee;
}
.wrapper .fullview .itempic {
  width: 40%;
  border: solid rgba(0, 0, 0, 0.1490196078) 2px;
  background-color: rgba(200, 200, 200, 0.2588235294);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper .fullview .itempic .imgdirect {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.wrapper .fullview .product-info-container {
  width: 60%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wrapper .fullview .product-info-container .product-name.wide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .fullview .product-info-container .product-name.wide h1 {
  word-break: break-word;
}
.wrapper .fullview .product-info-container .item-description {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper .fullview .product-info-container .item-description p {
  word-break: break-word;
}
.wrapper .fullview .product-info-container .item-tags {
  padding: 15px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .fullview .product-info-container .item-tags table tbody tr td {
  background: none;
}
.wrapper .fullview .product-info-container .item-tags table tbody tr td:nth-child(1) {
  font-weight: 500;
}
.wrapper .fullview .product-info-container .item-tags table tbody tr td:nth-child(2) {
  color: rgba(0, 0, 0, 0.4);
}
.wrapper .fullview .product-info-container .item-buttons {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.wrapper .fullview .product-info-container .item-buttons .button--detailed {
  padding: 1px 1px 1px 1px;
  width: 100px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  border-color: #666;
  color: #666;
  background: none;
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s;
}
.wrapper .fullview .product-info-container .item-buttons .button--detailed.edit:hover {
  background-color: rgba(28, 123, 28, 0.1019607843);
  border-color: #1c7b1c;
  color: #1c7b1c;
}
.wrapper .fullview .product-info-container .item-buttons .button--detailed.delete:hover {
  background-color: rgba(166, 19, 19, 0.1019607843);
  border-color: #a61313;
  color: #a61313;
}
.wrapper .fullview .product-info-container .item-buttons .button--detailed.close:hover {
  background-color: rgba(166, 122, 19, 0.1019607843);
  border-color: #a9842c;
  color: #a9842c;
  cursor: pointer;
}
.wrapper .fullview .product-info-container .item-buttons .button--detailed.stretched-button {
  display: none;
}
.wrapper .fullview .product-info-container .item-buttons input#favorite-checkbox {
  display: none;
}
.wrapper .fullview .product-info-container .item-buttons input#favorite-checkbox + label {
  color: #666;
  border-color: #666;
}
.wrapper .fullview .product-info-container .item-buttons input#favorite-checkbox + label:hover {
  background-color: rgba(255, 0, 106, 0.0705882353);
  border-color: rgba(255, 0, 106, 0.0705882353);
  color: rgba(255, 0, 106, 0.5019607843);
  cursor: pointer;
}
.wrapper .fullview .product-info-container .item-buttons input#favorite-checkbox:checked + label {
  color: #ff006a;
  border-color: #ff006a;
}

.main-container .comment-zone {
  padding-top: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: #000;
  background-color: #eee;
}
.main-container .comment-zone .comment-background {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.1019607843);
  gap: 10px;
  padding: 20px;
}
.main-container .comment-zone .comment-background .flag--empty-bids {
  font-size: 0.5em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}
.main-container .comment-zone .comment-background .comment-card {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100px;
  background-color: #eee;
  font-size: small;
  filter: brightness(95%);
}
.main-container .comment-zone .comment-background .comment-card:nth-child(1) {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  filter: none;
}
.main-container .comment-zone .comment-background .comment-card:nth-child(1) .user-info span.bid-info {
  font-weight: 600;
}
.main-container .comment-zone .comment-background .comment-card .img-card {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;
}
.main-container .comment-zone .comment-background .comment-card .img-card img {
  height: 75px;
  width: 75px;
  border-radius: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-container .comment-zone .comment-background .comment-card .user-info {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5px;
}
.main-container .comment-zone .comment-background .comment-card .user-info span.bid-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.2em;
  color: #000;
  font-weight: 500;
}
.main-container .comment-zone .comment-background .comment-card .user-info span.bid-info:nth-child(2) {
  color: rgba(0, 0, 0, 0.5333333333);
}
.main-container .comment-zone .comment-background .comment-card.user-selected {
  background-color: #759d96;
  color: #eee;
}
.main-container .comment-zone .comment-background .comment-card.user-selected span.bid-info {
  color: #eee;
}
.main-container .comment-zone .comment-background .comment-card.user-selected .date {
  color: #eee;
}
.main-container .comment-zone .comment-background .comment-card .date {
  font-weight: 400;
  font-size: 0.9em;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  color: #a4a4a4;
}
.main-container .comment-zone .comment-background .comment-card .buttons {
  display: none;
  grid-row: 2/3;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  gap: 15px;
}
.main-container .comment-zone .comment-background .comment-card .buttons button.btn {
  color: rgba(255, 255, 255, 0.2352941176);
  background: none;
  border: none;
}
.main-container .comment-zone .comment-background .comment-card .buttons button.btn.btn-danger:hover {
  color: #eee;
}
.main-container .comment-zone .comment-background .comment-card .buttons button.btn.btn-success:hover {
  color: #eee;
}

@media (max-width: 1300px) {
  .back-to-menu-container .back-to-menu-button {
    width: 80%;
  }
  .back-to-menu-container .back-to-menu-button .back-to-menu {
    border: none;
  }
  .wrapper .fullview {
    width: 80%;
  }
  .main-container .comment-zone {
    width: 80%;
  }
  .main-container .comment-zone .comment-background .comment-card {
    grid-template-columns: 20% 45% 35%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100px;
    background-color: #eee;
    font-size: small;
  }
}
@media (max-width: 800px) {
  .back-to-menu-container .back-to-menu-button {
    width: 90%;
  }
  .wrapper .fullview {
    width: 90%;
  }
  .wrapper .fullview .product-info-container .item-description {
    display: none;
  }
  .main-container .comment-zone {
    width: 90%;
  }
  .main-container .comment-zone .comment-background .comment-card {
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100px;
    background-color: #eee;
    font-size: small;
  }
}
@media (max-width: 600px) {
  .back-to-menu-container .back-to-menu-button {
    width: 90%;
  }
  .wrapper .product-name.stretched {
    display: flex;
    margin: 15px;
  }
  .wrapper .fullview {
    width: 90%;
    padding: 15px;
    flex-direction: column;
  }
  .wrapper .fullview .itempic {
    width: 90%;
  }
  .wrapper .fullview .product-info-container {
    width: 90%;
  }
  .wrapper .fullview .product-info-container .product-name.wide {
    display: none;
  }
  .wrapper .fullview .product-info-container .item-tags {
    width: 100%;
  }
  .wrapper .fullview .product-info-container .item-buttons {
    width: 100%;
  }
  .main-container .comment-zone {
    width: 90%;
  }
  .main-container .comment-zone .comment-background {
    width: 90%;
  }
  .main-container .comment-zone .comment-background .flag--empty-bids {
    font-size: 0.4em;
  }
  .main-container .comment-zone .comment-background .comment-card {
    grid-template-columns: 25% 40% 35%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100px;
    background-color: #eee;
    font-size: small;
  }
}
@media (max-width: 450px) {
  .wrapper .fullview .product-info-container {
    padding: 5px 0;
    margin-bottom: 15px;
    gap: 0;
  }
  .wrapper .fullview .product-info-container .item-buttons input#favorite-checkbox + label {
    border: none;
    width: 70px;
  }
  .wrapper .fullview .product-info-container .item-buttons a.button--detailed, .wrapper .fullview .product-info-container .item-buttons button.button--detailed {
    display: none;
    width: 70px;
  }
  .wrapper .fullview .product-info-container .item-buttons a.button--detailed.popUp, .wrapper .fullview .product-info-container .item-buttons button.button--detailed.popUp {
    display: flex;
  }
  .wrapper .fullview .product-info-container .item-buttons a.button--detailed.stretched-button, .wrapper .fullview .product-info-container .item-buttons button.button--detailed.stretched-button {
    display: flex;
    border: none;
  }
  .wrapper .fullview .product-info-container .item-buttons a.button--detailed.stretched-button.edit:hover, .wrapper .fullview .product-info-container .item-buttons button.button--detailed.stretched-button.edit:hover {
    background: rgba(28, 123, 28, 0.1019607843);
    color: #1c7b1c;
  }
  .wrapper .fullview .product-info-container .item-buttons a.button--detailed.stretched-button.delete:hover, .wrapper .fullview .product-info-container .item-buttons button.button--detailed.stretched-button.delete:hover {
    background: rgba(166, 19, 19, 0.1019607843);
    color: #a61313;
  }
  .main-container .comment-zone .comment-background .comment-card {
    grid-template-columns: 35% 50% 15%;
    grid-template-rows: 70% 30%;
  }
  .main-container .comment-zone .comment-background .comment-card .img-card {
    grid-row: 1/4;
  }
  .main-container .comment-zone .comment-background .comment-card .user-info {
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .main-container .comment-zone .comment-background .comment-card .date {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    font-size: 8px;
    font-weight: 100;
  }
  .main-container .comment-zone .comment-background .comment-card .buttons {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 0px;
  }
  .main-container .comment-zone .comment-background .comment-card .buttons button.btn {
    font-size: 13px;
  }
}/*# sourceMappingURL=detailed.css.map */