@import "./identity";

.filter--menu {
    width: 80%;
}

.filter--div[role="modal"] {
    width: 100%;
    height: 120px;
    background: #fff;
    box-shadow: 0 0 10px #0004;
    transition: all 0.3s ease;

    // ---- List
    &>.filter--list {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // ----------------------------- liked ITEM

        & .filter--item {
            height: 100%;
            width: 25%;
            padding: 15px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-right: 10px;
            color: $likedItemColor;
            text-decoration: none;

            & .item--icon {
                width: 100%;
                height: 30%;
            }

            & .filter--name,
            i {
                font-size: 1.1em;
            }

            & .filter--content {
                width: 100%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 6px;

                & .checkbox--container {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;

                    & .size--label {
                        $size--box: 35px;
                        width: $size--box;
                        height: $size--box;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        border-radius: 50px;
                        background-color: #0001;
                        font-size: 0.8em;

                        &:active {
                            background-color: #0005;
                            color: #000;
                        }

                        &:hover {
                            background-color: #0003;
                            color: #000;
                            cursor: pointer;
                        }
                    }

                    & input[type="checkbox"] {
                        display: none;
                    }

                    & input[type="checkbox"]:checked+label {
                        background: black;
                        color: white;
                    }
                }

                & select {
                    width: 90%;
                    border: none;
                    outline: none;
                    background: #0001;
                    border-radius: 4px;
                    padding: 2px 4px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                & .interval--container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 30px;

                    & .interval--item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        & span {
                            width: 30%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }

                        & input {
                            width: 70%;
                            border: none;
                            outline: none;
                            background: #0001;
                            border-radius: 4px;
                            padding: 3px;
                        }
                    }
                }
            }

            &#filter-butons--container {
                align-items: flex-end;
            }

            & #clear-filters--button,
            #filter--button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                text-align: right;
                border: 1px solid black;
                background: none;
                color: black;
                width: 60%;
                height: 70%;
                border-radius: 4px;

                &:hover {
                    background: black;
                    color: $white;
                }
            }

            & #clear-filters--button {
                border: 1px solid red;
                color: red;

                &:hover {
                    color: $dangerColor;
                    background-color: $dangerColorBackground;
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .filter--div[role="modal"] .filter--list .filter--item {
        & .item--icon {
            height: 20%;
        }

        & .filter--content {
            height: 80%;

            & .checkbox--container {
                & .size--label {
                    $size--box: 30px;
                    width: $size--box;
                    height: $size--box;
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .filter--div[role="modal"] .filter--list .filter--item {
        & .filter--content {
            & .interval--container {
                flex-direction: column;
                gap: 5px;

                & .interval--item {
                    gap: 5px;

                    & input {
                        width: 50%;
                        padding: 2px;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .filter--menu {
        width: 90%;
    }

    .filter--div[role="modal"] {
        height: 150px;

        & .filter--list {
            gap: 0;
            justify-content: space-evenly;

            & .filter--item {
                & .item--icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1em;
                }

                & .filter--content {

                    & .checkbox--container,
                    .interval--container,
                    .default--container {
                        justify-content: center;
                    }
                }


                &#filter-butons--container {
                    width: 20%;
                    justify-content: flex-end;

                    & #clear-filters--button,
                    #filter--button {
                        height: 30%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .filter--div[role="modal"] {
        height: 170px;

        & .interval--container {
            & .interval--item {
                gap: 2px;
                & span {
                    width: 20%;
                    font-size: 0.8em;
                }

                & input {
                    width: 80%;
                    padding: 1px;
                }
            }
        }
    }
}