.filter--menu {
  width: 80%;
}

.filter--div[role=modal] {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2666666667);
  transition: all 0.7s ease;
  transform: translateX(170%);
}
.filter--div[role=modal].filter--active {
  transform: translateX(0%);
}
.filter--div[role=modal] > .filter--list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter--div[role=modal] > .filter--list > .filter--item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  padding-right: 10px;
  color: #444;
  text-decoration: none;
  padding: 15px;
  width: 25%;
  gap: 10px;
}
.filter--div[role=modal] > .filter--list > .filter--item:last-child {
  border-bottom: none;
}
.filter--div[role=modal] > .filter--list > .filter--item > .item--icon {
  position: relative;
  width: 100%;
}
.filter--div[role=modal] > .filter--list > .filter--item .filter--name,
.filter--div[role=modal] > .filter--list > .filter--item i {
  font-size: 1.1em;
}
.filter--div[role=modal] > .filter--list > .filter--item > .filter--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
}
.filter--div[role=modal] > .filter--list > .filter--item > .filter--content .checkbox--container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.filter--div[role=modal] > .filter--list > .filter--item > .filter--content .checkbox--container .size--label {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.0666666667);
  font-size: 0.9em;
}
.filter--div[role=modal] > .filter--list > .filter--item > .filter--content .checkbox--container input[type=checkbox] {
  display: none;
}
.filter--div[role=modal] > .filter--list > .filter--item > .filter--content .checkbox--container input[type=checkbox]:checked + label {
  background: black;
  color: white;
}
.filter--div[role=modal] > .filter--list > .filter--item > .filter--content select {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.0666666667);
  border-radius: 4px;
  padding: 0 4px;
}
.filter--div[role=modal] > .filter--list > .filter--item > .filter--content .interval--container {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}
.filter--div[role=modal] > .filter--list > .filter--item > .filter--content .interval--container input {
  width: 50px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.0666666667);
  border-radius: 4px;
  padding: 1px;
}
.filter--div[role=modal] > .filter--list > .filter--item #clear-filters--button,
.filter--div[role=modal] > .filter--list > .filter--item #filter--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: none;
  color: black;
  width: 80%;
  height: 70%;
  border-radius: 4px;
}
.filter--div[role=modal] > .filter--list > .filter--item #clear-filters--button:hover,
.filter--div[role=modal] > .filter--list > .filter--item #filter--button:hover {
  background: black;
  color: #eee;
}/*# sourceMappingURL=filterList.css.map */