@import "./identity";

.filter--menu {
    height: 0;
    width: 80%;
    overflow: hidden;

    &.filter--active {
        height: 100%;
    }
}

.filter--div[role="modal"] {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px #0004;
    transform: translateY(-180%);
    transition: all 0.3s ease;
    
    &.filter--active {
        transform: translateY(0);
        transition: all 0.3s ease;
    }

    // ---- List
    &>.filter--list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // ----------------------------- liked ITEM

        &>.filter--item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 4px 10px;
            padding-right: 10px;
            color: $likedItemColor;
            text-decoration: none;
            padding: 15px;
            width: 25%;
            gap: 10px;

            &:last-child {
                border-bottom: none;
            }


            &>.item--icon {
                position: relative;
                width: 100%;
            }

            & .filter--name,
            i {
                font-size: 1.1em;
            }

            &>.filter--content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 6px;

                & .checkbox--container {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;

                    & .size--label {
                        $size--box: 35px;
                        width: $size--box;
                        height: $size--box;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        border-radius: 50px;
                        background-color: #0001;
                        font-size: 0.9em;

                        &:active {
                            background-color: #0005;
                            color: #000;
                        }

                        &:hover {
                            background-color: #0003;
                            color: #000;
                            cursor: pointer;
                        }
                    }

                    & input[type="checkbox"] {
                        display: none;
                    }

                    & input[type="checkbox"]:checked + label {
                        background: black;
                        color: white;
                    }
                }

                & select {
                    width: 90%;
                    border: none;
                    outline: none;
                    background: #0001;
                    border-radius: 4px;
                    padding: 2px 4px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                & .interval--container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 30px;

                    & .interval--item {
                        display: flex;
                        gap: 10px;

                        & input {
                            width: 50%;
                            border: none;
                            outline: none;
                            background: #0001;
                            border-radius: 4px;
                            padding: 3px;
                        }
                    }
                }
            }

            &:last-child{
                align-items: flex-end;
            }

            & #clear-filters--button,
            #filter--button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                text-align: right;
                border: 1px solid black;
                background: none;
                color: black;
                width: 60%;
                height: 70%;
                border-radius: 4px;

                &:hover {
                    background: black;
                    color: $white;
                }
            }

            #clear-filters--button {
                border: 1px solid red;
                color: red;

                &:hover {
                    color: $dangerColor;
                    background-color: $dangerColorBackground;
                }
            }
        }
    }

}