@import "./identity";

/* ------------------------------- CARD ------------------------------- */
main {
    width: 100vw;
    padding: 50px 0;
    position: relative;

    & section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & heading {
            width: 100%;

            & .heading--container {
                width: 80%;
                padding: 20px 0;
                display: flex;
                align-items: flex-end;
                margin: auto;
                gap: 20px;

                & .section--title {
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 2.6em;
                    width: 100%;
                    color: $title;
                    border-bottom: 2px solid $titleLine;
                    margin: 0;
                }

                & .items--button {
                    $size: 60px;
                    width: $size;
                    height: $size;
                    font-size: 1.4rem;
                    border: none;
                    color: black;
                    background-color: white;

                    &:hover {
                        background-color: #212529;
                        color: white;
                    }

                    &:active {
                        background-color: #2c3136;
                    }
                }
            }

        }

        & .item--link {
            text-decoration: none;
            color: inherit;
        }

        & .featured--wrap {
            width: 100%;
            margin: 20px 0;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            background: $cardBackground;

            & .featured {
                max-width: 100vw;
                margin-top: 10px;
                display: flex;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    height: 14px;
                }

                &::-webkit-scrollbar-track {
                    background: $cardBackground;
                }

                &::-webkit-scrollbar-thumb {
                    background: $cardBackground;
                }

                &:hover {
                    &::-webkit-scrollbar-track {
                        background: $featuredScrollBarBg;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $featuredScrollBar;
                    }
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $featuredScrollBarHover;
                }

                & .item {
                    min-width: 280px;
                }
            }
        }

        & .items--wrap {
            transition: all 0.3s ease;

            &.items-wrap--grid {
                display: grid;
            }

            &.items-wrap--list {
                display: flex;
                flex-direction: column;
            }

            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            width: 80%;
            margin-top: 10px;
        }

        & .load-more--div {
            width: 100%;
            height: 0;
            position: relative;
            // top: -300px;
        }
    }
}

@media (max-width: 1100px) {
    main {
        & section {
            & .items--wrap {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}

@media (max-width: 800px) {
    main {
        & section {
            & heading .heading--container {
                width: 90%;
            }

            & .items--wrap {
                width: 90%;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (max-width: 500px) {
    main {
        & section {
            & .section--title {
                font-size: 2em;
            }

            & .items--wrap {
                grid-template-columns: 1fr;
            }
        }

        & .items-wrap--list .add--item {
            height: 100px;
        }

    }
}