.div--search-results {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 80vw, 1000px);
  position: relative;
  max-height: 60vh;
  overflow-y: scroll;
  border-radius: 0 0 6px 6px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.div--search-results::-webkit-scrollbar {
  display: none;
}
.div--search-results .item--link {
  text-decoration: none;
  color: inherit;
}
.div--search-results .item {
  display: flex;
  background: #eee;
  color: #000;
  padding: 10px;
  height: 100%;
}
.div--search-results .item .item--images {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 150px;
  overflow: hidden;
  transition: height 0.1s ease;
}
.div--search-results .item .item--images .item--image-front {
  position: relative;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.1s ease;
}
.div--search-results .item .item--content {
  display: flex;
  width: 100%;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  position: relative;
  font-size: 1.2rem;
}
.div--search-results .item .item--content .div--bids {
  width: 15%;
}
.div--search-results .item .item--content p {
  width: 40%;
}
.div--search-results .item .item--content .item--price {
  width: 20%;
}
.div--search-results .item .item--content .list--type {
  width: 15%;
}
.div--search-results .item .item--content .list--size {
  width: 10%;
}
.div--search-results .item .item--content .div--bids {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div--search-results .item .item--content .div--bids .number--of--bids {
  top: -200px;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #212529;
  background-color: #eee;
  border: 10px solid #212529;
  font-size: 20px;
  flex-shrink: 0;
}
.div--search-results .item .item--content .div--bids .number--of--bids .bid--number {
  width: 100%;
  text-align: center;
}
.div--search-results .item .item--content p {
  font-weight: 600;
  margin: 0;
  padding: 10px 5px;
  word-break: break-word;
}
.div--search-results .item .item--content .item--price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div--search-results .item .item--content .item--price strong {
  font-weight: 500;
  border: 1px solid black;
  padding: 10px 15px;
  border-bottom: 4px solid black;
}
.div--search-results .item .item--content .item--price .sale {
  position: absolute;
  top: -4px;
  right: -20px;
  background-color: #e00;
  color: #eee;
  font-size: 0.6em;
  padding: 0px 4px;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 0 2px;
}
.div--search-results .item .item--content .item--price .price--old {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.2666666667);
  font-size: 0.8em;
  text-decoration: line-through;
  position: relative;
  top: -10px;
  font-weight: 300;
}
.div--search-results .item .item--content .list--view.list--type {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div--search-results .item .item--content .list--view.list--size {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div--search-results .item:hover {
  background-color: #eee;
}
.div--search-results .item:hover .item--image-front {
  transform: scale(110%);
}
.div--search-results .item--no-results {
  background: #eee;
  color: #000;
  padding: 20px;
  text-align: center;
  color: rgba(136, 136, 136, 0.5333333333);
  font-style: italic;
}

@media (max-width: 1100px) {
  .div--search-results .item .item--content {
    padding-right: 15px;
    font-size: 1rem;
  }
  .div--search-results .item .item--content .item--price strong {
    padding: 5px;
  }
  .div--search-results .item .item--content .list--view.list--type {
    display: none;
  }
}
@media (max-width: 800px) {
  .div--search-results .item {
    padding: 0 10px;
  }
  .div--search-results .item .item--content .div--bids .number--of--bids {
    width: 30px;
    height: 30px;
    border: 6px solid #212529;
    font-size: 12px;
  }
  .div--search-results .add--item {
    height: 80px;
  }
}
@media (max-width: 500px) {
  .div--search-results {
    width: 90%;
  }
  .div--search-results .item .item--images {
    width: 70px;
  }
  .div--search-results .item .item--content {
    font-size: 0.9rem;
  }
  .div--search-results .item .item--content p {
    width: 100%;
  }
  .div--search-results .item .item--content .list--view.list--size {
    display: none;
  }
}
@media (max-width: 400px) {
  .div--search-results .item .item--content {
    padding-right: 5px;
    font-size: 0.9rem;
  }
  .div--search-results .item .item--content .div--bids {
    display: none;
  }
  .div--search-results .item .item--content p {
    padding: 15px;
  }
  .div--search-results .item .item--content .item--price strong {
    padding: 3px;
  }
}/*# sourceMappingURL=searchItems.css.map */