@charset "UTF-8";
.main-container {
  width: 100%;
  min-height: 95vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .title {
  margin-top: 30px;
  padding-top: 20px;
  height: 15%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: #000;
  background-color: #eee;
}
.main-container .title .bi-wide {
  color: #4c4c4c;
}
.main-container .title hr {
  margin: 0px;
  width: 80%;
}
.main-container .form-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-weight: 500;
  color: #000;
  background-color: #eee;
}
.main-container .form-container .input-container {
  margin-bottom: 20px;
  margin-top: 30px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-container .form-container .input-container .input-group span.input-group-text {
  padding: 0;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 18px;
  font-weight: 500;
  background: none;
  border: none;
  border-right: 2px solid #c8c8c8;
}
.main-container .form-container .input-container input.form-control, .main-container .form-container .input-container select.form-control {
  border: 0;
  box-shadow: none;
  background: none;
}
.main-container .form-container .input-container input.form-control:focus, .main-container .form-container .input-container select.form-control:focus {
  border: 0px;
  box-shadow: none;
}
.main-container .form-container .input-container input.form-control::-moz-placeholder, .main-container .form-container .input-container select.form-control::-moz-placeholder {
  opacity: 0.5;
  font-weight: 400;
}
.main-container .form-container .input-container input.form-control::placeholder, .main-container .form-container .input-container select.form-control::placeholder {
  opacity: 0.5;
  font-weight: 400;
}
.main-container .form-container .input-container .date-input-container {
  display: flex;
  justify-content: left;
  gap: 20px;
}
.main-container .form-container .input-container .date-input-container input[type=date] {
  background: none;
  border: none;
  outline: none;
}
.main-container .form-container .form-select-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .form-container .terms-container {
  padding: 10px 30px 10px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-container .form-container .terms-container .terms-label {
  font-style: italic;
}
.main-container .form-container .terms-container .checkbox-wrapper-5 {
  display: flex;
  align-items: center;
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check {
  --size: 20px;
  position: relative;
  background: linear-gradient(90deg, #43d367, #1eac55);
  line-height: 0;
  perspective: 400px;
  font-size: var(--size);
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check input[type=checkbox], .main-container .form-container .terms-container .checkbox-wrapper-5 .check label, .main-container .form-container .terms-container .checkbox-wrapper-5 .check label::before, .main-container .form-container .terms-container .checkbox-wrapper-5 .check label::after, .main-container .form-container .terms-container .checkbox-wrapper-5 .check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  border-radius: var(--size);
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check label {
  width: calc(2.2 * var(--size));
  height: var(--size);
  background: #d7d7d7;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check input[type=checkbox] {
  position: absolute;
  z-index: 1;
  width: calc(0.8 * var(--size));
  height: calc(0.8 * var(--size));
  top: calc(0.1 * var(--size));
  left: calc(0.1 * var(--size));
  background: linear-gradient(45deg, #dedede, #ffffff);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 0;
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check input[type=checkbox]:checked {
  left: calc(1.3 * var(--size));
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check input[type=checkbox]:checked + label {
  background: transparent;
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check label::before, .main-container .form-container .terms-container .checkbox-wrapper-5 .check label::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  left: calc(0.15 * var(--size));
  top: calc(0.5 * var(--size));
  height: var(--size);
  letter-spacing: calc(-0.04 * var(--size));
  color: #9b9b9b;
  font-family: "Times New Roman", serif;
  z-index: 2;
  font-size: calc(0.6 * var(--size));
  border-radius: 0;
  transform-origin: 0 0 calc(-0.5 * var(--size));
  backface-visibility: hidden;
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check label::after {
  content: "●";
  top: calc(0.65 * var(--size));
  left: calc(0.2 * var(--size));
  height: calc(0.1 * var(--size));
  width: calc(0.35 * var(--size));
  font-size: calc(0.2 * var(--size));
  transform-origin: 0 0 calc(-0.4 * var(--size));
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check input[type=checkbox]:checked + label::before, .main-container .form-container .terms-container .checkbox-wrapper-5 .check input[type=checkbox]:checked + label::after {
  left: calc(1.55 * var(--size));
  top: calc(0.4 * var(--size));
  line-height: calc(0.1 * var(--size));
  transform: rotateY(360deg);
}
.main-container .form-container .terms-container .checkbox-wrapper-5 .check input[type=checkbox]:checked + label::after {
  height: calc(0.16 * var(--size));
  top: calc(0.55 * var(--size));
  left: calc(1.6 * var(--size));
  font-size: calc(0.6 * var(--size));
  line-height: 0;
}
.main-container .form-container .buttons {
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-container .form-container .buttons .btn-form {
  padding: 5px;
  width: 25%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  background: none;
  transition: 0.3s;
}
.main-container .form-container .buttons .btn-form.btn-success {
  color: #1c7b1c;
  border-color: #1c7b1c;
}
.main-container .form-container .buttons .btn-form.btn-success:hover, .main-container .form-container .buttons .btn-form.btn-success:active {
  background-color: rgba(28, 123, 28, 0.1019607843);
}
.main-container .form-container .buttons .btn-form.btn-danger {
  color: #a61313;
  border-color: #a61313;
}
.main-container .form-container .buttons .btn-form.btn-danger:hover, .main-container .form-container .buttons .btn-form.btn-danger:active {
  background-color: rgba(166, 19, 19, 0.1019607843);
}
.main-container .bi-stretched {
  display: none;
}

@media (max-width: 1300px) {
  .main-container .input-container .input-group span.input-group-text {
    width: 50px;
  }
  .main-container .bi-stretched {
    display: inline;
    color: #4c4c4c;
  }
  .main-container .bi-wide {
    display: none;
  }
  .main-container .text-label {
    display: none;
  }
  .main-container .title {
    width: 80%;
  }
  .main-container .form-container {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .main-container .title {
    width: 90%;
  }
  .main-container .form-container {
    width: 90%;
  }
  .main-container .form-container .input-container {
    margin-top: 20px;
  }
}/*# sourceMappingURL=subpage.css.map */