$themePrimary: black;
$themePrimaryAlpha: rgba(107, 107, 107, 0.733);
$notification: #e00;
$white: #eee;
$heartColor: rgb(255, 0, 106);

// Landing -----------------------------------------------------------------------------------
$title: #eee;
$titleLine: #fff4;
$featuredScrollBar: #dfdfdf;
$featuredScrollBarHover: #c7c7c7;
$featuredScrollBarBg: #f0f0f0;

/// Items
$cardBackground: #fff;
$cardColor: #000;
$cardPriceOld: #0004;

// NAV ---------------------------------------------------------------------------------------
$navBg: #eee;
$navIcons: #666;

/// liked
$likedBg: #eee;
$likedItemColor: #444;
$likedItemHover: #e0e0e0;
$likedItemPriceColor: #aaa;
$likedItemArrowColor: #e0e0e0;
