$themePrimary: black;
$themePrimaryAlpha: rgba(107, 107, 107, 0.733);
$notification: #e00;
$white: #eee;
$black: #000;
$heartColor: rgb(255, 0, 106);

// Landing -----------------------------------------------------------------------------------
$title: #eee;
$titleLine: #fff4;
$featuredScrollBar: #dfdfdf;
$featuredScrollBarHover: #c7c7c7;
$featuredScrollBarBg: #f0f0f0;

/// Items
$cardBackground: #fff;
$cardColor: #000;
$cardPriceOld: #0004;

// NAV ---------------------------------------------------------------------------------------
$navBg: #eee;
$navIcons: #666;

/// liked
$likedBg: #eee;
$likedItemColor: #444;
$likedItemHover: #e0e0e0;
$likedItemPriceColor: #aaa;
$likedItemArrowColor: #e0e0e0;


// SUBPAGE ----------------------------------------------------------------------------------
$fontColor: #4c4c4c;
$inputColor: #666;
$inputBarColor: #c8c8c8;
$dateColor: #a4a4a4;

$imageBgColor: #c8c8c842;
$imageBorderColor: #00000026;

$secondaryBackgroundColor: #0000001a;

/// BUTTONS
$successColor: #1c7b1c;
$dangerColor: #a61313;
$disabledColor: #fff5;