@import "./identity";

.back-to-menu-container {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .back-to-menu-button {
        width: 70%;
        height: 100%;

        & .back-to-menu {
            width: 100px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: $white;
            color: $black;

            &:hover {
                background: $black;
                color: $white;
            }
        }
    }
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    & .product-name.stretched {
        display: none;
    }

    & .fullview {
        width: 70%;
        padding: 30px;
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: $black;
        background-color: $white;

        & .itempic {
            width: 40%;
            border: solid $imageBorderColor 2px;
            background-color: $imageBgColor;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            & .imgdirect {
                width: 100%;
                object-fit: contain;
                height: 100%;
            }
        }

        & .product-info-container {
            width: 60%;
            height: 100%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & .product-name.wide {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            & .item-description {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            & .item-tags {
                padding: 15px 20px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                & table {
                    & tbody tr td {
                        background: none;
                    }
                }
            }

            & .item-buttons {
                width: 100%;
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 15px;

                
                & .button--detailed {
                    padding: 1px 1px 1px 1px;
                    width: 100px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $black;
                    border-radius: 5px;
                    color: $navIcons;
                    background: none;
                    text-decoration: none;
                    font-weight: 600;
                    transition: 0.3s;
                    
                    &.edit {
                        border-color: $navIcons;
                        color: $navIcons;
                        
                        &:hover {
                            background-color: $successColorBackground;
                            border-color: $successColor;
                            color: $successColor;
                        }
                    }
                    
                    &.delete {
                        border-color: $navIcons;
                        color: $navIcons;
                        
                        &:hover {
                            background-color: $dangerColorBackground;
                            border-color: $dangerColor;
                            color: $dangerColor;
                        }
                    }
                    
                    &.stretched-button {
                        display: none;
                    }
                }

                & input#favorite-checkbox {
                    display: none;

                    &+label {
                        color: $navIcons;
                        border-color: $navIcons;

                        &:hover {
                            background-color: $heartColorBackground;
                            border-color: $heartColorBackground;
                            color: $heartColorHover;
                            cursor: pointer;
                        }
                    }

                    &:checked + label {
                        color: $heartColor;
                        border-color: $heartColor;
                    }
                }
            }
        }
    }
}

.main-container .comment-zone {
    padding-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    color: $black;
    background-color: $white;

    & .comment-background {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        background-color: $secondaryBackgroundColor;
        gap: 10px;
        padding: 10px;

        & .comment-card {
            display: grid;
            grid-template-columns: 15% 60% 25%;
            grid-template-rows: 50% 50%;
            width: 100%;
            height: 100px;
            background-color: $white;
            font-size: small;


            & .img-card {
                grid-row: 1/3;
                display: flex;
                align-items: center;
                justify-content: left;
                padding: 15px;

                & img {
                    height: 75px;
                    width: 75px;
                    border-radius: 3px;
                    object-fit: contain;
                }
            }

            & .user-info {
                grid-row: 1/3;
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: center;
                padding-left: 5px;

                & span.bid-info {
                    width: 100%;
                    font-size: 12px;
                    color: $black;
                }
            }

            &.user-selected {
                background-color: #759d96;
                color: $white;

                & span.bid-info {
                    color: $white;
                }

                & .date {
                    color: $white;
                }
            }

            & .date {
                grid-row: 1/2;
                display: flex;
                align-items: center;
                justify-content: right;
                padding-right: 5px;
                color: $dateColor;
            }

            & .buttons {
                grid-row: 2/3;
                display: flex;
                align-items: center;
                justify-content: right;
                padding-right: 5px;
                gap: 15px;

                & button.btn {
                    color: $disabledColor;
                    background: none;
                    border: none;

                    &.btn-danger:hover {
                        color: $white;
                    }

                    &.btn-success:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .back-to-menu-container {
        & .back-to-menu-button {
            width: 80%;
        }
    }

    .wrapper {
        & .fullview {
            width: 80%;
        }
    }

    .main-container {
        & .comment-zone {
            width: 80%;

            & .comment-background {
                & .comment-card {
                    grid-template-columns: 20% 45% 35%;
                    grid-template-rows: 50% 50%;
                    width: 100%;
                    height: 100px;
                    background-color: $white;
                    font-size: small;
                }

            }
        }

    }
}

@media (max-width: 800px) {
    .back-to-menu-container {
        & .back-to-menu-button {
            width: 90%;
        }
    }

    .wrapper {
        & .fullview {
            width: 90%;

            & .product-info-container {
                & .item-description {
                    display: none;
                }
            }
        }
    }

    .main-container {
        & .comment-zone {
            width: 90%;

            & .comment-background {
                & .comment-card {
                    grid-template-columns: 25% 35% 40%;
                    grid-template-rows: 50% 50%;
                    width: 100%;
                    height: 100px;
                    background-color: $white;
                    font-size: small;
                }

            }
        }

    }
}

@media (max-width: 600px) {
    .back-to-menu-container {
        & .back-to-menu-button {
            width: 90%;
        }
    }

    .wrapper {
        & .product-name.stretched {
            display: flex;
            margin: 15px;
        }

        & .fullview {
            width: 90%;
            padding: 15px;
            flex-direction: column;

            & .itempic {
                width: 90%;
            }

            & .product-info-container {
                width: 90%;

                & .product-name.wide {
                    display: none;
                }

                & .item-tags {
                    width: 100%;
                }

                & .item-buttons {
                    width: 100%;
                }
            }
        }
    }

    .main-container {
        & .comment-zone {
            width: 90%;

            & .comment-background {
                width: 90%;

                & .comment-card {
                    grid-template-columns: 25% 40% 35%;
                    grid-template-rows: 50% 50%;
                    width: 100%;
                    height: 100px;
                    background-color: $white;
                    font-size: small;

                }
            }
        }
    }
}

@media (max-width: 450px) {
    .wrapper .fullview .product-info-container {
        padding: 5px 0;
        margin-bottom: 15px;

        & .item-buttons {
            & input#favorite-checkbox+label {
                border: none;
                width: 70px;
            }

            & button.button--detailed {
                display: none;
                width: 70px;

                &.stretched-button {
                    display: flex;
                    border: none;

                    &.edit:hover {
                        background: $successColorBackground;
                        color: $successColor;
                    }

                    &.delete:hover {
                        background: $dangerColorBackground;
                        color: $dangerColor;
                    }
                }
            }
        }
    }

    .main-container .comment-zone .comment-background {
        & .comment-card {
            grid-template-columns: 35% 50% 15%;
            grid-template-rows: 70% 30%;

            & .img-card {
                grid-row: 1/4;
            }

            & .user-info {
                grid-row: 1/3;
                grid-column: 2/3;
            }

            & .date {
                grid-column: 2/4;
                grid-row: 2/3;
                display: flex;
                font-size: 8px;
            }

            & .buttons {
                grid-column: 3/4;
                grid-row: 1/2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 10px;
                gap: 0px;

                & button.btn {
                    font-size: 13px;
                }
            }
        }
    }
}