.back-to-menu-container {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-to-menu-container .back-to-menu-button {
  width: 70%;
  height: 100%;
}
.back-to-menu-container .back-to-menu-button .back-to-menu {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #eee;
  color: #000;
}
.back-to-menu-container .back-to-menu-button .back-to-menu:hover {
  background: #000;
  color: #eee;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.wrapper .product-name.stretched {
  display: none;
}
.wrapper .fullview {
  width: 70%;
  padding: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #eee;
}
.wrapper .fullview .itempic {
  width: 40%;
  border: solid rgba(0, 0, 0, 0.1490196078) 2px;
  background-color: rgba(200, 200, 200, 0.2588235294);
  margin-left: 30px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper .fullview .itempic .imgdirect {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.wrapper .fullview .product-info-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wrapper .fullview .product-info-container .product-name.wide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .fullview .product-info-container .item-description {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .fullview .product-info-container .item-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 15px;
}
.wrapper .fullview .product-info-container .item-tags kbd.tag:nth-child(1) {
  background-color: #6a90a8;
}
.wrapper .fullview .product-info-container .item-tags kbd.tag:nth-child(2) {
  background-color: #43596a;
}
.wrapper .fullview .product-info-container .item-tags kbd.tag:nth-child(3) {
  background-color: #202a35;
}
.wrapper .fullview .product-info-container .item-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.wrapper .fullview .product-info-container .item-buttons .button--detailed {
  width: 150px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background: none;
  border: 1px solid #000;
  color: #000;
}
.wrapper .fullview .product-info-container .item-buttons .button--detailed.stretched-button {
  display: none;
}
.wrapper .fullview .product-info-container .item-buttons .button--detailed:hover {
  background: #000;
  color: #eee;
}

.main-container .comment-zone {
  padding-top: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  color: #000;
  background-color: #eee;
}
.main-container .comment-zone .comment-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.1019607843);
  gap: 10px;
  padding: 10px;
}
.main-container .comment-zone .comment-background .comment-card {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100px;
  background-color: #eee;
  font-size: small;
}
.main-container .comment-zone .comment-background .comment-card .img-card {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;
}
.main-container .comment-zone .comment-background .comment-card .img-card img {
  height: 75px;
  width: 75px;
  border-radius: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-container .comment-zone .comment-background .comment-card .user-info {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 5px;
}
.main-container .comment-zone .comment-background .comment-card .user-info span.bid-info {
  width: 100%;
  font-size: 12px;
  color: #000;
}
.main-container .comment-zone .comment-background .comment-card.user-selected {
  background-color: #759d96;
  color: #eee;
}
.main-container .comment-zone .comment-background .comment-card.user-selected span.bid-info {
  color: #eee;
}
.main-container .comment-zone .comment-background .comment-card.user-selected .date {
  color: #eee;
}
.main-container .comment-zone .comment-background .comment-card .date {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  color: #a4a4a4;
}
.main-container .comment-zone .comment-background .comment-card .buttons {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  gap: 15px;
}
.main-container .comment-zone .comment-background .comment-card .buttons button.btn {
  color: rgba(255, 255, 255, 0.3333333333);
  background: none;
  border: none;
}
.main-container .comment-zone .comment-background .comment-card .buttons button.btn.btn-danger:hover {
  color: #eee;
}
.main-container .comment-zone .comment-background .comment-card .buttons button.btn.btn-success:hover {
  color: #eee;
}

@media (max-width: 1300px) {
  .back-to-menu-container .back-to-menu-button {
    width: 80%;
  }
  .wrapper .fullview {
    width: 80%;
  }
  .main-container .comment-zone {
    width: 80%;
  }
  .main-container .comment-zone .comment-background .comment-card {
    grid-template-columns: 20% 45% 35%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100px;
    background-color: #eee;
    font-size: small;
  }
}
@media (max-width: 800px) {
  .back-to-menu-container .back-to-menu-button {
    width: 90%;
  }
  .wrapper .fullview {
    width: 90%;
  }
  .wrapper .fullview .product-info-container .item-description {
    display: none;
  }
  .main-container .comment-zone {
    width: 90%;
  }
  .main-container .comment-zone .comment-background .comment-card {
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100px;
    background-color: #eee;
    font-size: small;
  }
}
@media (max-width: 600px) {
  .back-to-menu-container .back-to-menu-button {
    width: 90%;
  }
  .wrapper .product-name.stretched {
    display: flex;
    margin: 15px;
  }
  .wrapper .fullview {
    width: 90%;
    padding: 15px;
    flex-direction: column;
  }
  .wrapper .fullview .itempic {
    width: 90%;
    margin-left: 5px;
  }
  .wrapper .fullview .product-info-container {
    width: 90%;
  }
  .wrapper .fullview .product-info-container .product-name.wide {
    display: none;
  }
  .wrapper .fullview .product-info-container .item-tags {
    width: 100%;
    height: 50%;
    margin-top: 10px;
  }
  .wrapper .fullview .product-info-container .item-buttons {
    width: 100%;
    height: 50%;
  }
  .main-container .comment-zone {
    width: 90%;
  }
  .main-container .comment-zone .comment-background {
    width: 90%;
  }
  .main-container .comment-zone .comment-background .comment-card {
    grid-template-columns: 25% 40% 35%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100px;
    background-color: #eee;
    font-size: small;
  }
}
@media (max-width: 450px) {
  .wrapper .fullview .product-info-container .item-buttons .button--detailed {
    display: none;
  }
  .wrapper .fullview .product-info-container .item-buttons .button--detailed.stretched-button {
    display: flex;
  }
  .main-container .comment-zone .comment-background .comment-card {
    grid-template-columns: 35% 50% 15%;
    grid-template-rows: 70% 30%;
  }
  .main-container .comment-zone .comment-background .comment-card .img-card {
    grid-row: 1/4;
  }
  .main-container .comment-zone .comment-background .comment-card .user-info {
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .main-container .comment-zone .comment-background .comment-card .date {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    font-size: 8px;
  }
  .main-container .comment-zone .comment-background .comment-card .buttons {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 0px;
  }
  .main-container .comment-zone .comment-background .comment-card .buttons button.btn {
    font-size: 13px;
  }
  .main-container .comment-zone .comment-background .comment-card .buttons button.btn.btn-danger:hover {
    background: none;
    color: #a61313;
  }
  .main-container .comment-zone .comment-background .comment-card .buttons button.btn.btn-success:hover {
    background: none;
    color: #1c7b1c;
  }
}/*# sourceMappingURL=detailed.css.map */