@import "./identity";

/* ------------------------------- CARD ------------------------------- */
.wrapper {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;

    & .item--link{
        text-decoration: none;
        color: inherit;
    }


    & .section--title {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 2.6em;
        width: 80%;
        color: $title;
        border-bottom: 2px solid $titleLine;
        margin: 20px 0;
    }
    
    & .featured {
        width: 100%;
        margin: 20px 0;
        display: flex;
        margin: 50px 0;
        margin-top: 10px;
        overflow-x: scroll;
        background: $cardBackground;

        &::-webkit-scrollbar {
            height: 14px;
        }

        &::-webkit-scrollbar-track {
            background: $cardBackground;
        }

        &::-webkit-scrollbar-thumb {
            background: $cardBackground;
        }
        &:hover {
            &::-webkit-scrollbar-track {
                background: $featuredScrollBarBg;
            }

            &::-webkit-scrollbar-thumb {
                background: $featuredScrollBar;
            }
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $featuredScrollBarHover;
        }

        & .item {
            min-width: 280px;
        }
    }

    & .items--wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 80%;
        margin-top: 10px;
    }

    & .item {
        display: flex;
        flex-direction: column;
        background:$cardBackground;
        color: $cardColor;
        padding: 20px;

        & .item--images {
            position: relative;
            display: flex;
            justify-content: center;
            height: 200px;
            overflow: hidden;

            & .item--image-front {
                position: relative;
                width: 100%;
                object-fit: contain;
                transition: all 0.1s ease;
            }
        }

        & .item--content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding-bottom: 10px;

            & p {
                font-weight: 600;
                margin: 0;
                padding: 10px 30px;
                border: 1px solid $cardColor;
                text-align: center;

                transition: all 0.1s ease;

                &:hover {
                    background: $themePrimary;
                    color: $white;
                }
            }

            & .item--price {
                display: flex;
                flex-direction: column;
                align-items: center;

    
                & .price--sale {
                    position: relative;
                    display: flex;
                    align-items: flex-start;
                    gap: 4px;
                    padding: 2px;

                    & .sale {
                        position: absolute;
                        top: -2px;
                        right: -20px;
                        background-color: $notification;
                        color: $white;
                        font-size: 0.6em;
                        padding: 0px 4px;
                        border-radius: 4px;
                        border: 1px solid $cardBackground;
                    }
                }

                & .price--old {
                    color: $cardPriceOld;
                    font-size: 0.8em;
                    text-decoration: line-through;
                    position: relative;
                    top: -10px;
                    font-weight: 300;
                }
            }
        }

        &:hover {
            & .item--image-front {
                transform: scale(110%);
            }
        }
    }
}
@media (max-width: 1100px) {
    .wrapper{

        & .items--wrap {
            grid-template-columns: 1fr 1fr 1fr;
            // width: 90%;
        }
    }
}

@media (max-width: 800px) {
    .wrapper{

        & .items--wrap {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 500px) {
    .wrapper{

        & .items--wrap {
            grid-template-columns: 1fr;
        }
    }
}
