body {
  background: rgba(95, 43, 1, 0.5803921569) url("../assets/texture.png") fixed;
  scrollbar-width: none;
  font-family: "Poppins", monospace;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 100vw;
}
body::-webkit-scrollbar {
  display: none;
}

/* ------------------------------- CARD ------------------------------- */
.wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.wrapper .section--title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2.6em;
  width: 80%;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2666666667);
  margin: 20px 0;
}
.wrapper .featured {
  width: 100%;
  margin: 20px 0;
  display: flex;
  margin: 50px 0;
  margin-top: 10px;
  background: #fff;
  overflow-x: scroll;
}
.wrapper .featured::-webkit-scrollbar {
  height: 14px;
}
.wrapper .featured::-webkit-scrollbar-track {
  background: #fff;
}
.wrapper .featured::-webkit-scrollbar-thumb {
  background: #fff;
}
.wrapper .featured:hover::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.wrapper .featured:hover::-webkit-scrollbar-thumb {
  background: #dfdfdf;
}
.wrapper .featured::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}
.wrapper .featured .item {
  min-width: 280px;
}
.wrapper .items--wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 80%;
  margin-top: 10px;
}
.wrapper .item {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
}
.wrapper .item .item--images {
  position: relative;
  display: flex;
  justify-content: center;
  height: 200px;
  overflow: hidden;
}
.wrapper .item .item--images .item--image-front {
  position: relative;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.1s ease;
}
.wrapper .item .item--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
}
.wrapper .item .item--content p {
  font-weight: 600;
  margin: 0;
  padding: 10px 30px;
  border: 1px solid black;
  text-align: center;
  transition: all 0.1s ease;
}
.wrapper .item .item--content p:hover {
  background: black;
  color: white;
}
.wrapper .item .item--content .item--price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .item .item--content .item--price sup {
  position: relative;
  color: rgba(0, 0, 0, 0.2666666667);
  top: 0px;
}
.wrapper .item .item--content .item--price .price--sale {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding: 2px;
}
.wrapper .item .item--content .item--price .price--sale .sale {
  position: absolute;
  top: -2px;
  right: -20px;
  background-color: #e00;
  color: #eee;
  font-size: 0.6em;
  padding: 0px 4px;
  border-radius: 4px;
  border: 1px solid white;
}
.wrapper .item .item--content .item--price .price--old {
  color: gray;
  font-size: 0.8em;
  text-decoration: line-through;
  position: relative;
  top: -10px;
  font-weight: 300;
}
.wrapper .item:hover .item--image-front {
  transform: scale(110%);
}

@media (max-width: 1100px) {
  .wrapper .items--wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .wrapper .items--wrap {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .wrapper .items--wrap {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=landing.css.map */