nav.navbar {
  background: #eee;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 5px 40px;
  z-index: 100;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5333333333);
}
nav.navbar .navbar-brand .logo,
nav.navbar .navbar-brand .logo-small {
  height: 60px;
  aspect-ratio: 3/1;
}
nav.navbar .navbar-brand .logo-small {
  display: none;
}
nav.navbar .navbar-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  align-items: center;
}
nav.navbar .navbar-nav > .nav-link:hover i {
  color: rgba(107, 107, 107, 0.733);
}
nav.navbar .navbar-nav .icon-cart::after {
  content: "4";
  position: absolute;
  left: 14px;
  background: #e00;
  color: #eee;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  font-size: 0.8em;
}
nav.navbar .navbar-nav .div-cart {
  position: absolute;
  cursor: pointer;
}
nav.navbar .navbar-nav .div-cart input[type=checkbox] {
  display: none;
}
nav.navbar .navbar-nav .div-cart input[type=checkbox] + .wrapper--cart#wrapper--cart {
  display: none;
}
nav.navbar .navbar-nav .div-cart input[type=checkbox]:checked + .wrapper--cart#wrapper--cart {
  display: block;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart {
  position: absolute;
  top: 40px;
  left: -80px;
  width: 300px;
  background: #eee;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2666666667);
}
nav.navbar .navbar-nav .div-cart .wrapper--cart::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 22px;
  width: 1px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #eee;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0 10px;
  font-weight: 700;
  border-bottom: 1px solid rgba(68, 68, 68, 0.0666666667);
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--title .close {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.2666666667);
  font-weight: 300;
  font-size: 0.8em;
  padding: 4px 10px;
  cursor: pointer;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list {
  height: 400px;
  overflow-y: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list::-webkit-scrollbar {
  display: none;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 4px;
  padding-right: 10px;
  color: #444;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart:hover {
  background: #e0e0e0;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart:hover .item--count::before {
  border-bottom: 10px solid rgba(0, 0, 0, 0.1333333333);
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart:hover .item--count::after {
  border-top: 10px solid rgba(0, 0, 0, 0.1333333333);
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--images {
  position: relative;
  width: 40%;
  max-width: 80px;
  height: 100%;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--images img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--content p {
  margin: 0;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--content .item--price {
  position: relative;
  font-size: 0.8em;
  color: #aaa;
  line-height: 14px;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--count {
  position: relative;
  width: 50px;
  max-width: 100px;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--count input {
  width: 100%;
  background: none;
  border: none;
  font-weight: 300;
  text-align: center;
  outline: none;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--count::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 7px;
  width: 1px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e0e0e0;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .cart--list > .item--cart > .item--count::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 7px;
  width: 1px;
  border-top: 10px solid #e0e0e0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 70px;
  border-top: 1px solid rgba(68, 68, 68, 0.0666666667);
  margin: 0 auto;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .checkout button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: none;
  color: black;
  width: 100%;
  height: 70%;
  border-radius: 4px;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .checkout button p {
  margin: 0;
  line-height: 14px;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .checkout button > span {
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.5333333333);
  height: 10%;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .checkout button:hover {
  background: black;
  color: #eee;
}
nav.navbar .navbar-nav .div-cart .wrapper--cart > .checkout button:hover > span {
  color: rgba(255, 255, 255, 0.5333333333);
}
nav.navbar .nav-search-bar {
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
nav.navbar .input-group {
  background: #eee;
  transition: all 0.1s ease;
  color: #666;
  border-radius: 5px;
}
nav.navbar .input-group:hover {
  background: rgba(0, 0, 0, 0.0588235294);
}
nav.navbar .input-group input {
  border: none;
  background: none;
  font-weight: 300;
}
nav.navbar .input-group .input-group-text {
  border: none;
  background: none;
}

@media (max-width: 800px) {
  nav.navbar {
    padding: 5px 20px;
  }
  nav.navbar .navbar-brand .logo-small {
    display: inline-block;
    aspect-ratio: 1/1;
    height: 40px;
  }
  nav.navbar .logo {
    display: none;
  }
  nav.navbar #search-input {
    display: none;
  }
  nav.navbar .navbar-nav .div-cart .wrapper--cart#wrapper--cart {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 10;
  }
  nav.navbar .navbar-nav .div-cart .wrapper--cart#wrapper--cart::after {
    content: none;
  }
  nav.navbar .navbar-nav .div-cart .wrapper--cart#wrapper--cart .cart--title {
    height: 60px;
    font-size: 1.2em;
  }
  nav.navbar .navbar-nav .div-cart .wrapper--cart#wrapper--cart .cart--list {
    height: calc(100vh - 60px - 80px);
  }
  nav.navbar .navbar-nav .div-cart .wrapper--cart#wrapper--cart .checkout {
    height: 80px;
  }
}/*# sourceMappingURL=nav.css.map */